<footer class="footer custom-card text-white  mt-auto py-3">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col text-start">
        <%= link_to 'お問い合わせ', '/contact', class: 'no-underline text-white me-3' %>
        <%= link_to '利用規約', '/terms', class: 'no-underline text-white me-3' %>
        <%= link_to 'プライバシーポリシー', '/privacy', class: 'no-underline text-white' %>
      </div>
    </div>
    <div class="col text-end">
      <p class="mb-0">&copy; 2024 ハビトラ</p>
    </div>
  </div>
</footer>
