.custom-navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.custom-navigation a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #545454;
  color: white;
  text-decoration: none;
  border: 2px solid white;;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.custom-navigation a:hover {
  background-color: #6c6c6c;
}
