.bg-hero {
    background: url('jubeo-hernandez-dDWeZLYXrE8-unsplash.jpg') no-repeat center center / cover;
    color: white;
    min-height: 80vh; // 背景画像を画面80%表示
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.card-header {
  background: linear-gradient(45deg, #6a11cb, #2575fc);
}

.card-header h1 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

#error_explanation {
  border-radius: 5px;
  border: 1px solid #dc3545;
  padding: 15px;
}

.form-label {
  color: #495057;
}

.btn-primary {
  background-color: #2575fc;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}
