<p>こんにちは、<%= @resource.email %> さん</p>

<p>以下のリンクをクリックして、パスワードをリセットしてください。</p>

<p><%= link_to 'パスワードをリセットする', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このリンクは、6時間以内に使用してください。</p>

<p>もしパスワードリセットをリクエストしていない場合、このメールを無視してください。</p>
